@font-face {
    font-family: "common";
    src: url("../fonts/Inconsolata.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: extra-expanded;
}
:global(body) {
    font-family: "common", sans-serif;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    color: #000080;
    padding: 10px;
}
